<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find The Letter || Find The Letter</title>
    <link rel="stylesheet" href="../../static/css/style.css">
</head>
<body>

        <div class="add mainBox">
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="eng" placeholder="ENG. Word">
                <input type="text" name="ban" placeholder="Bangla Meaning">
                <input type="submit" value="ADD">
            </form>
        </div>

        
</body>


</html>